/* Webfont: GeezManuscriptZemen-Regular */@font-face {
    font-family: 'GeʾezManuscriptZemen';
    src: url('Geez-Manuscript-Zemen.woff2') format('woff2'), /* Modern Browsers */
         url('Geez-Manuscript-Zemen.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

